{% extends "base.html" %}
{% block title %}Core{% endblock %}
{% block content %}
    
<!-- <a href="{{ url_for('upload.delete_all') }}">Delete db data</a><br> -->
<!-- <a href="{{ url_for('upload.delete_all_sector') }}">Delete sector data</a><br> -->
<body>
    <section>
        <div>
            <p>Already registered user?</p>
            <form action="{{ url_for('upload.index') }}" method="get">
                <button type="submit">Upload more</button>
            </form>
        </div>
        <div>
            <p>National progress plans uploaded: {{ project_count }}</p>
        </div>
        <div>
            <p>Not a registered user?</p>
            <form action="{{ url_for('auth.register') }}" method="get">
                <button type="submit">Sign up</button>
            </form>
        </div>
    </section>
    <section>        
        <h2>General Statistics</h2>
        <div>
            <div>{{ graph_general_method_html | safe }}</div>
            <div>{{ graph_general_principle_html | safe }}</div>
            <div>{{ graph_general_sector_html | safe }}</div>
        </div>
    </section>

    <section>
        <h2>Financial Cashflows</h2>
        <div>{{ graph_cashflows_html | safe }}</div>
        <div>{{ table_cashflows_html | safe }}</div>
    </section>

    <section>
        <h2>Social Impact</h2>
        <div>{{ graph_benefits_html | safe }}</div>
    </section>
    
    <section>
        <h2>Ratios</h2>
        <div>{{ table_ratios_html | safe }}</div>
    </section>
    
</body>
{% endblock %}