{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
<body>
    <!-- Call to action -->
    <section>
        <div class="container mb-4">
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="card h-100 border-0 shadow-sm text-center">
                        <div class="card-body bg-light">
                            <p class="mb-0">Already Registered User?</p>
                            <form action="{{ url_for('upload.index') }}" method="get">
                                <button type="submit" class="btn btn-primary mt-3 normal-btn">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 border-0 shadow-sm text-center">                            
                        <div class="card-body bg-light">
                                <p class="card-title mb-0">National Progress Plans Uploaded: <strong>{{ project_count }}</strong></p>
                                <form action="{{ url_for('projects.index') }}" method="get">
                                    <button type="submit" class="btn btn-secondary mt-3 normal-btn">Projects</button>
                                </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100 border-0 shadow-sm text-center">
                        <div class="card-body bg-light">
                            <p class="mb-0">Not a Registered User?</p>
                            <form action="{{ url_for('auth.register') }}" method="get">
                                <button type="submit" class="btn btn-success mt-3 normal-btn">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- General statistics -->
    <section>
        <div class="container mb-4">
            <h2 class="mb-4">General Statistics</h2>
            <div class="row g-3">
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            {{ graph_general_method_html | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            {{ graph_general_sector_html | safe }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            {{ graph_general_principle_html | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Financial cashflows -->
    <section>
        <div class="container mb-4">
            <h2 class="mb-4">Financial Cashflows</h2>
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    {{ graph_cashflows_html | safe }}
                    <div class="mb-5"></div>   
                    {{ table_cashflows_html | safe }}
                </div>
            </div>
            
        </div>
    </section>
    
    <!-- Social impact -->
    <section>
        <div class="container mb-4">
            <h2 class="mb-4">Social Impact</h2>
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    {{ graph_benefits_html | safe }}   
                </div>
            </div>
            
        </div>
    </section>

    <!-- Ratios -->
    <section>
        <div class="container mb-4">
            <h2 class="mb-4">Ratios</h2>
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    {{ table_ratios_html | safe }}   
                </div>
            </div>
            
        </div>
    </section>

</body>
{% endblock %}