{% extends "base.html" %}
{% block title %}Policy{% endblock %}
{% block content %}
<body>
    <div class="container">
        <h2 class="card-title">Privacy Policy</h2>
        
        <h5 class="mt-4">1. Information We Collect</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Registration Information: When you register, we collect your username, email address and password. To protect password we hash it. </li>
        <li class="list-group-item">Project Data: When you upload projects, we collect the information you provide about each project.</li>
        <li class="list-group-item">Usage Data: We collect data on how you use our site, including page visits and search queries.</li>
        </ul>

        <h5 class="mt-4">2. How We Use Your Information</h5>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">To provide and maintain our services.</li>
        <li class="list-group-item">To notify you about changes to our services.</li>
        <li class="list-group-item">To provide customer support.</li>
        </ul>

        <h5 class="mt-4">3. Sharing Your Information</h5>
        <p>We do not share your personal information with third parties except as necessary to comply with the law or protect our rights.</p>

        <h5 class="mt-4">4. Security</h5>
        <p>We implement security measures to protect your information. However, no method of transmission over the internet is 100% secure.</p>

        <h5 class="mt-4">5. Your Rights</h5>
        <p>You can access, update, or delete your personal information by logging into your account.</p>

        <h5 class="mt-4">6. Changes to This Privacy Policy</h5>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

        <h5 class="mt-4">Contact Us</h5>
        <p>If you have any questions, please contact us at as 
            <a href="mailto:{{ mail_username }}">{{ mail_username }}</a>.
        </p>
        
        <p class="card-text"><small class="text-muted">Last updated: 2024-07-08</small></p>
    </div>
</body>
{% endblock %}