{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    
{% if message %}
<div class="alert alert-warning" role="alert">
    <span class="closebtns" onclick="this.parentElement.style.display='none';">&times;</span>Invalid username or password
</div>
{% endif %}

<div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            <h1>Login</h1>
        </div>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <div> 
        <span>Dont have an account yet?</span> 
        <a href="{{ url_for('auth.register') }}"> <i aria-hidden="true"></i>Register</a> 
    </div>
</div>

{% endblock %}