{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block content %}

<body>
    <section>
        <h3>National Progress Plan</h3>
        <!-- <p>ID: {{ project.id }}</p> -->
        <p>Name: {{ project.name }}</p>
        <p>Code: {{ project.code }}</p>
    </section>

    <section>
        <h3>General Statistics</h3>
        <div>{{ table_general_html | safe }}</div>
    </section>

    <section>
        <h3>Financial Cashflows</h3>
        <div>{{ graph_cashflows_html | safe }}</div>
    </section>

    <section>
        <h3>Social Impact</h3>
        <div>{{ graph_benefits_html | safe }}</div>
    </section>

    <section>
        <h3>Ratios</h3>
        <div>{{ table_ratios_html | safe }}</div>
    </section>
    
</body>


{% endblock %}